.feed-page{
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .feed {
        max-width: 400px;
        width: 100%;

        .posts{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .post{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            background-color: rgb(103, 104, 103);
            padding-inline: 0.5rem;
            padding-block: 0.5rem;
            
            .user{
                display: flex;
                gap: 0.5rem;
                align-items: center;

                .img-wrapper{
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 3px solid rgba(30, 255, 0, 0);
                    background: conic-gradient(red, purple,rgb(200, 0, 255),red, ) border-box;
                }
                img{
                    width: 4rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }
            }

            .icons{
                display: flex;
                justify-content: space-between;

                .left{
                    display: flex;
                    gap: 1rem;
                }

                .like{
                    color: red;
                }

                svg{
                    width: 2rem;
                    aspect-ratio: 1/1;
                    color: white;
                    
                }
                button{
                    background-color: transparent;
                    border: none;
                    outline: none;
                }
            }

            img{
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

